<div class="d-flex align-content-center">
  <div class="d-flex flex-row"><h1>Stupid Coaching</h1></div>
  <div class="card col-lg-6">
    <div class="card-body">
      <p><%= @question %></p>
      <p>-You</p>
    </div>
  </div>
  <div class="card col-lg-6">
    <div class="card-body">
      <p><%= @answer %></p>
      <p>-Your Coach</p>
    </div>
  </div>
  <div class="link" class="text-decoration-none">
    <%= link_to "Ask another question", ask_path %>
  </div>
</div>
